* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#box1 {
  /* width: 100px; */
  height: 100px;
  background-color: red;
  border: 5px solid black;
  margin-bottom: 20px;
}

#box2 {
  /* width: 100px; */
  height: 100px;
  background-color: blue;
  border: 5px solid black;
}
